
.skils {
    width: 100%;
    /* border: 1px solid green; */
}

.skils ol {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 0 auto
    
}
.skils>.add-skil{
    width: 80%;
    border: 1px solid #aaa;
    text-align: center;
    margin: 8px auto ;
}
.skils .skil-name{
    display: flex;
    justify-content: flex-start;
    margin: 5px
}
.skils .skil-name>.out-box{
    flex: 1
}
.skils .skil-name>span{
    display: block;
    padding-top: 4px;    
}
.skils li {
    width: 49%;
    border: 1px solid #aaa;
    position: relative;
    margin: 5px 0;
    /* height: 140px; */
}

.skils li>.del-skil{
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
}