<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vendors/vue.js"></script>
    <script src="//cdn1.lncld.net/static/js/3.6.0/av-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//at.alicdn.com/t/font_595678_3o5f115bee6a8aor.js"></script>
    <script src="./js/init-av.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/aside.css">
    <link rel="stylesheet" href="./css//iconfont.css">
    <link rel="stylesheet" href="./css/info.css">
    <link rel="stylesheet" href="./css/projects.css">
    <link rel="stylesheet" href="./css/mobile.css" media="(max-width:768px)">
    <link rel="stylesheet" href="./css/skils.css">
    <link rel="stylesheet" href="./css/print.css" media="print">
    <title>简历编辑器</title>
</head>

<body>

    <div class="page" id="app">

        <main class="r-content">
            <section class="info">
                <div class="r-name">
                    <info v-bind:value="resume.name" v-on:edit="y('name',$event)"></info>
                </div>
                <div class="technical-title">
                    <info v-bind:value="resume.title" v-on:edit="y('title',$event)"></info>
                </div>
                <div class="info-box">


                    <ol>
                        <input id="info-photo" style=" display:none; border:1px solid red" v-on:change="saveImages" type="file">
                        <span>个人信息</span>
                        <div class="info-photo">
                            <label for="info-photo">添加照片</label>
                            <img v-bind:src="resume.infoPhoto" alt="">
                        </div>
                        <li>
                            <span>性别</span>
                            <div class="info-text">
                                <info v-bind:value="resume.gender" v-on:edit="y('gender',$event)"></info>
                            </div>
                        </li>
                        <li>
                            <span>年龄</span>
                            <div class="info-text">
                                <info v-bind:value="resume.age" v-on:edit="y('age',$event)"></info>

                            </div>
                        </li>
                        <li>
                            <span>邮箱</span>
                            <div class="info-text">
                                <info v-bind:value="resume.email" v-on:edit="y('email',$event)"></info>

                            </div>
                        </li>
                        <li>
                            <span>微信</span>
                            <div class="info-text">
                                <info v-bind:value="resume.weChat" v-on:edit="y('weChat',$event)"></info>
                            </div>
                        </li>
                        <li>
                            <span>电话</span>
                            <div class="info-text">
                                <info v-bind:value="resume.phone" v-on:edit="y('phone',$event)"></info>

                            </div>
                        </li>
                    </ol>
                    <div class="description">
                        <span>自我描述</span>
                        <info v-bind:value="resume.description" v-on:edit="y('description',$event)"></info>
                    </div>
                </div>
            </section>
            <div class="ability">
                <section class="skils">
                    <h3>技能</h3>
                    <ol>
                        <li v-for="(skil,index) in resume.skils">
                            <div class="skil-name">
                                <span>技能</span>
                                <info v-bind:value="resume.skils[index].name" v-on:edit="onSkil('skils',`${index}`,'name',$event)"></info>
                            </div>
                            <div class="skil-name">
                                <span>描述</span>
                                <info v-bind:value="resume.skils[index].description" v-on:edit="onSkil('skils',`${index}`,'description',$event)"></info>
                            </div>
                            <span class="del-skil" v-if="index>=2" @click="deleteSkil(index)">删除</span>
                        </li>

                    </ol>
                    <div class="add-skil">
                        <span @click="addSkil">添加技能</span>
                    </div>
                </section>
                <section class="projects">
                    <h3>项目</h3>
                    <ol>
                        <input id="preview-img" style=" display:none; border:1px solid red" v-on:change="saveImages" type="file">
                        <li v-for="(project,index) in resume.projects">
                            <div class="p-text">
                                <div class="wrapper">
                                    <span>作品</span>
                                    <info v-bind:value="resume.projects[index].name" v-on:edit="onSkil('projects',`${index}`,'name',$event)"></info>

                                </div>
                                <div class="wrapper">
                                    <span>源码</span>
                                    <info v-bind:value="resume.projects[index].code" v-on:edit="onSkil('projects',`${index}`,'code',$event)"></info>

                                </div>
                                <div class="wrapper">
                                    <span>预览</span>
                                    <info v-bind:value="resume.projects[index].link" v-on:edit="onSkil('projects',`${index}`,'link',$event)"></info>

                                </div>
                                <div class="wrapper">
                                    <span>描述</span>
                                    <info v-bind:value="resume.projects[index].description" v-on:edit="onSkil('projects',`${index}`,'description',$event)"></info>

                                </div>
                                <span class="del-project" v-if="index>=2" @click="deleteProject(index)">删除</span>
                            </div>
                            <div class="p-img">
                                <label @click="getProjectIndex(index)" v-bind:class=`img${index}` for="preview-img">点击添加预览图</label>
                                <img v-bind:src="resume.projects[index].preview" alt="">
                            </div>
                        </li>
                        <li class="add-project">
                            <span @click="addProject">添加项目</span>
                        </li>
                    </ol>
                </section>
            </div>

        </main>
        <div class="log-in" v-show="logInFrame" v-cloak @submit.prevent="logIn">
            <span @click="logInFrame=false" class="clouse">x</span>
            <h2>登录</h2>
            <form action="">
                <div class="row">
                    <label for="r-email">用户名</label>
                    <input type="text" id="r-email" v-model="logInData.userName">
                </div>
                <div class="row">
                    <label for="r-email">密码</label>
                    <input type="text" id="r-email" v-model="logInData.password">
                </div>
                <div class="row" class="actions">
                    <button type="submit">登录</button>
                </div>
                <div class="row">
                    没有账号?点击
                    <a @click="signUpFrame=true,logInFrame=false" href="javascript:;">注册</a>
                </div>
            </form>
        </div>

        <div class="sign-up" v-show="signUpFrame" v-cloak @submit.prevent="signUp">
            <span @click="signUpFrame=false" class="clouse">x</span>
            <h2>注册</h2>
            <form action="">
                <div class="row">
                    <label for="r-email">用户名</label>
                    <input v-model="userData.userName" type="text" id="r-email">
                </div>
                <div class="row">
                    <label for="r-email">邮箱</label>
                    <input v-model="userData.email" type="text" id="r-email">
                </div>
                <div class="row">
                    <label for="r-email">密码</label>
                    <input v-model="userData.password" type="text" id="r-email">
                </div>
                <div class="row" class="actions">
                    <button type="submit">提交</button>
                </div>
                <div class="row">
                    已有账号,点击
                    <a @click="signUpFrame=false,logInFrame=true" href="javascript:;">登录</a>
                </div>
            </form>
        </div>

        <div v-show="sharingFrame" class="sharing">
            <textarea name="" id="url" cols="30" rows="10" readonly="readonly">{{sharLink.link}}</textarea>
            <input type="button" @click="copyLink" value="点击复制代码" />
            <button @click="sharingFrame = false">关闭窗口</button>
        </div>

        <header class="sidebar">
            <div class="current-user">
                <input id="head-img" style=" display:none;   opacity: 1; border:1px solid red" v-on:change="saveImages" type="file">
                <div class="user-sign" v-show="logOutBt">
                    <div class="user-img">
                        <img v-bind:src="currentUser.userImg" alt="">
                        <label for="head-img">添加头像</label>
                    </div>
                    <div class="userandsign">
                        <strong>{{currentUser.userName}}</strong>
                        <span @click="logOut">登出</span>
                    </div>
                </div>
                <div class="user-sign" v-show="logInBt">
                    <div class="user-img">
                        <img src="" alt="">
                    </div>
                    <div class="userandsign">
                        <div>{{currentUser.userName}}</div>
                        <span @click="logInFrame=true">登录</span>
                    </div>
                </div>
            </div>


            <ol>
                <li @click="saveResume">
                    <span>保存</span>
                </li>
                <li>
                    <span @click="sharingFrame=true">分享</span>
                </li>
                <li>
                    <span @click="print">打印</span>
                </li>
                <li>
                    <span>换肤</span>
                </li>
            </ol>
        </header>
    </div>

    <script src="./js/main.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js//textarea.js"></script>
</body>

</html>